.firstContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgb(103, 143, 185);
  background: linear-gradient(270deg, #26264f, rgba(59, 85, 116, 1) 100%);
  height: 300px;
  border-radius: 30px;
  margin-right: 8rem;
  margin-left: 8rem;
  padding-left: 30rem;
  padding-top: 4rem;
}

.secondContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 29%;
  margin-right: 8rem;
}

.bookTitle {
  color: #fff;
}

.bookImg {
  position: absolute;
  top: 250px;
  left: 220px;
  height: 400px;
  width: 240px;
  border-radius: 20px;
}

.bookAuthor {
  color: #fff;
  font-weight: 300;
  text-align: left;
}

.genreContainer {
  display: flex;
  flex-direction: row;
}

.genre {
  padding: 5px 10px;
  color: #fff;
  border: 1px solid #527ca5;
  background-color: #527ca5;
  border-radius: 10px;
  margin-right: 20px;
}

.subSecondContainer {
  padding-right: 5%;
}

.units {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-align: end;
}

.descriptionContainer {
  width: 35%;
  margin-right: 10%;
}

.descriptionTitle {
  text-align: start;
}

.reviewContainer {
  width: 35%;
}

.reviewTitle {
  text-align: start;
}

.userContainer {
  display: flex;
  justify-content: space-between;
}

.userNameContainer {
  display: flex;
}

.userImg {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.loanButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 660px;
  left: 220px;
  width: 240px;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  background-color: #1a2d31;
  border: none;
  color: #fff;
  cursor: pointer;
}

.loanButton:hover {
  background-color: #2c4a50;
}

.book-description {
  font-size: 15px;
  text-align: justify;
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .bookImg {
    height: 400px;
    width: 240px;
    left: 150px;
    top: 240px;
  }

  .firstContainer {
    padding-left: 20rem;
    margin-left: 6rem;
    margin-right: 6rem;
    padding-top: 3rem;
    height: 250px;
  }

  .descriptionContainer {
    width: 40%;
  }

  .loanButton {
    top: 650px;
    left: 150px;
    width: 240px;
  }

  .secondContainer {
    margin-left: 33%;
  }
}

@media (min-width: 976px) and (max-width: 1120px) {
  .secondContainer {
    margin-left: 30% !important;
  }
}

@media (min-width: 975px) and (max-width: 1280px) {
  .bookImg {
    height: 300px;
    width: 200px;
    left: 120px;
    top: 230px;
  }

  .firstContainer {
    padding-left: 19rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 1rem;
    height: 260px;
  }

  .subSecondContainer {
    margin-top: 1rem;
  }

  .loanButton {
    top: 540px;
    left: 120px;
    width: 200px;
  }

  .secondContainer {
    margin-left: 26%;
  }

  .reviewContainer {
    width: 35%;
  }

  .book-description {
    font-size: 13px;
  }
}

@media (min-width: 875px) and (max-width: 974px) {
  .bookImg {
    height: 300px;
    width: 200px;
    left: 100px;
    top: 230px;
  }

  .firstContainer {
    padding-left: 17rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 1rem;
    height: 220px;
  }

  .subSecondContainer {
    margin-top: 1rem;
  }

  .descriptionContainer {
    width: 45%;
    margin-right: 0;
  }

  .loanButton {
    top: 540px;
    left: 100px;
    width: 200px;
  }

  .secondContainer {
    margin-left: 32%;
    margin-right: 4rem;
  }

  .reviewTitle,
  .descriptionTitle {
    font-size: 20px;
  }

  .book-description {
    font-size: 12px;
  }
}

@media screen and (max-width: 874px) {
  .firstContainer {
    flex-direction: column;
    justify-content: normal;
    align-items: flex-start;
    height: 640px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
  }

  .bookTitle {
    font-size: 20px;
  }

  .bookAuthor {
    font-size: 15px;
  }

  .genre {
    margin-top: 0;
    padding: 5px 8px;
    font-size: 10px;
    margin-right: 10px;
  }

  .bookImg {
    position: static;
    height: 300px;
    width: 200px;
  }

  .subSecondContainer {
    margin-top: 10px;
    padding-right: 0%;
  }

  .units {
    font-size: 15px;
    text-align: start;
  }

  .descriptionContainer {
    width: 100%;
    margin-right: 0;
  }

  .reviewContainer {
    width: 100%;
  }

  .loanButton {
    margin-top: 20px;
    position: static;
    background-color: transparent;
    border: 1px solid #fff;
    width: 80%;
  }

  .secondContainer {
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
  }
}
