.review-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0 8rem;
}

.navLink {
  text-decoration: none;
}

.ratings-table,
.comments-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0 10px;
}

h2 {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

th,
td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

.title-row {
  font-weight: bold;
}

.comment-content {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
}

.delete-button:hover {
  opacity: 0.7;
}

.button-img {
  width: 20px;
  height: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-button:hover {
  background-color: #1a2d31;
  color: white;
  transition: 0.3s;
}

.pagination-button.active {
  background-color: #1a2d31;
  color: #fff;
  border: 1px solid #1a2d31;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (min-width: 1281px) {
  .review-container {
    padding: 0 8rem;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .review-container {
    margin-bottom: 5%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .review-container {
    padding: 0 4rem;
  }
  .ratings-table,
  .comments-table {
    margin: 0 5px;
  }
  th,
  td {
    padding: 6px;
  }
}

@media screen and (max-width: 768px) {
  .review-container {
    flex-direction: column;
    padding: 0;
    margin: 0 10%;
    margin-top: 0;
  }
  table {
    width: 100%;
  }
  th,
  td {
    padding: 6px;
  }
  .pagination {
    flex-direction: row;
  }
  .pagination-button {
    margin: 0px 5px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .review-container {
    margin: 0 5%;
    padding: 0 1rem;
  }
  table {
    width: 100%;
  }
  th,
  td {
    padding: 4px;
  }
  .pagination {
    flex-direction: row;
  }
  .pagination-button {
    margin: 0px 5px;
    width: 100%;
  }
  .delete-button .button-img {
    width: 15px;
    height: 15px;
  }
}
